{
  "presets": ["es2015"],
  "plugins": [
    "transform-function-bind",
    "transform-object-rest-spread",
    "transform-async-to-generator",
    ["transform-metamagical-comments", {
      "babel": {
        "plugins": [
          "asyncFunctions", "objectRestSpread", "functionBind"
        ]
      }
    }],
    "transform-assertion-comments",
    ["babel-plugin-module-alias", [
      { "src": "./src", "expose": "folktale" }
    ]]]
}
