*.orig
*.tern-port
node_modules/
npm-debug.log
/index.js
/core/
/control/
/helpers/
/data/
/test/specs/
/test/helpers/
/test/browser/tests.js
*.un~
*.swp
/dist/
/docs/build/
/annotated/
/releases/
/tools/static-docs/lib/
/tools/static-docs/resources/*.css