*.orig
*.tern-port
*.un~
*.swp
node_modules/
npm-debug.log
/packages/**/build/
/packages/**/dist/
/annotations/build/
/docs/api/master/
/docs/_site/
/docs/.jekyll-metadata
/test/build/
/releases/
/tools/static-docs/lib/
/tools/static-docs/resources/html/*.css
.nyc_output/