@import 'https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i|PT+Sans+Caption|Raleway:100,400|Source+Sans+Pro';

// --[ Configuration ]-------------------------------------------------
@import "nib"
global-reset()

@import "jumperskirt/includes/reset"
@import "jumperskirt/includes/colours"
@import "jumperskirt/includes/settings"
@import "jumperskirt/grid"

jsk-text-font = 'Lora', serif
jsk-heading-font = 'Raleway', sans
jsk-base-line-height = 1.4em
jsk-base-font-size = 16px
jsk-grid-width = 100%
link-colour = #2980b9

@import "jumperskirt/typography"



// -- [ Definitions ]--------------------------------------------------
body {
  background: #fff
}

a {
  color: darken(link-colour, 20%)
  text-decoration: none
}
a:hover {
  text-decoration: underline
}

// ---[ Layout ]
#content-wrapper {
  clearfix: yes
  jsk-grid-row: 12
  width: 960px
  margin: 2em auto

  #content-panel {
    jsk-grid-column: 9
  }
  #meta-panel {
    jsk-grid-column: 3
  }
}

// ---[ Text ]
#content-panel {
  font-size: 20px
  line-height: 1.5em
  color: #5f5f5f


  code {
    font-family: monospace
    color: wet-asphalt
    background: clouds
    padding: 0 0.3em
  }

  .entity-title {
    letter-spacing: -0.02em
    color: #2f2f2f
    font-size: 36px
    font-weight: bold !important
    margin-top: 0
  }
  .highlight-summary {
    font-family: 'PT Sans Caption', sans-serif
    color: concrete
    margin: -0.5em 0 2em 0
  }

  .section-title {
    font-weight: 300
    font-size: 32px
    text-transform: uppercase
    margin-left: -1em
    border-top: 1px solid clouds
    padding-top: 0.5em
  }

  .definition {
    .signature {
      font-family: monospace
      font-size: 24px 
    }
    .type-title {
      display: block
      font-family: 'Raleway', sans-serif
      color: concrete
      text-transform: uppercase
      font-size: 16px
      margin-top: 1em
    }
    pre.type {
      background: none
      padding: 0px 20px 20px 20px
      margin-top: 0
    }
  }

  .deprecation-section {
    @extend blockquote
    border-color: pomegranate
    margin-left: -2em

    .deprecation-title {
      color: pomegranate
      text-transform: uppercase
      font-family: 'PT Sans Caption', sans-serif
      border-bottom: 1px solid clouds
      margin-bottom: 0.5em
      display: block
      font-weight: bold
    }
  }

  .documentation {
    h2 {
      font-family: 'PT Sans Caption', sans-serif
      letter-spacing: -0.02em
      color: #2f2f2f
      font-size: 36px
      font-weight: bold !important
      line-height: 100%
      margin: 1.2em 0 0.6em 0
    }

    h3 {
      font-size: 28px
      letter-spacing: 0.02em
      border-bottom: 1px solid clouds
      padding-bottom: 0.3em
      margin-bototm: 0.3em
      color: #5f5f5f
    }

    h4, h5, h6 {
      font-size: 26px
      font-weight: 300 !important
      color: concrete
      margin-bottom: 0.3em
      letter-spacing: -0.02em
      text-transform: uppercase
      border-bottom: 1px solid clouds
    }
  }

  .members {
    .category {
      @extends #content-panel .documentation h2
    }

    .member {
      margin-bottom: 1.5em
    }

    .doc-summary {
      margin-left: 2em
      color: asbestos

      p {
        margin: 0;
      }
    }

    .special-tags {
      margin-left: 2em

      .tagged {
        font-family: 'Raleway', sans-serif
        font-weight: 400
        font-size: 12px
        padding: 0.3em 0.8em
        margin-right: 1em
        border: 1px solid concrete
        color: concrete
        text-transform: uppercase
      }

      .deprecated {
        color: pomegranate
        border-color: pomegranate
        font-weight: bold
      }

      .required {
        color: alizarin
        border-color: alizarin
      }

      .experimental {
        color: pumpkin
        border-color: pumpkin
      }
    }

    .member-name {
      font-family: monospace
      font-weight: bold
    }

    &.deprecated .member-name {
      text-decoration: line-through
    }
  }

  p {
    margin: 0 0 1.2em 0
  }
}

#meta-panel {
  font-family: 'Raleway', sans-serif
  font-size: 14px
  color: #5f5f5f

  .meta-section {
    margin-bottom: 2em
  }

  .meta-field {
    margin-bottom: 1em
  }

  .meta-field-value {
    ul {
      margin: 0
      list-style: none
    }
    li {
      margin: 0 0 0.5em 0
    }
  }

  .meta-field-title {
    letter-spacing: 0.02em
    font-family: 'PT Sans Caption', sans-serif
    color: #2f2f2f
  }

  .meta-section-title {
    text-transform: uppercase
    letter-spacing: 0.02em
    color: concrete
    font-weight: 300
  }

  .table-of-contents {
    margin-bottom: 2em

    .toc-list {
      list-style: none
      p {
        margin: 0
      }
      &.level-1 {
        margin: 0 0 0 0
        & > .toc-item {
          margin: 0.7em 0 0 0
          & > a, & > .no-anchor {
            font-weight: bold
            text-transform: uppercase
            color: #5f5f5f
          }
        }
      }
      &.level-2 {
        margin: 0 0 0 1em
        & > .toc-item {
          margin: 0 0 0.4em 0
          font-size: 13px
          line-height: 100%
          white-space: nowrap
          overflow: hidden
          text-overflow: ellipsis

          div, p {
            display: inline
          }
        }
      }
    }
  }
}

pre code[class*="language-"] {
  font-size: 14px
  line-height: 16px
  background: none !important
  padding: 0 !important
}

#header {
  height: 50px
  background: midnight
  line-height: 50px
  padding: 0 30px
  font-size: 28px
  font-family: 'Raleway', sans-serif

  a {
    text-decoration: none
    color: clouds
  }

  .version {
    font-size: 14px
    font-weight: 100
    margin-left: 5px
    font-variant: small-caps
  }
}