// constants
wet-asphalt = #34495e
concrete = #95a5a6
abestos = #7f8c8d
silver = #bdc3c7
clouds = #ecf0f1
greyish = #d6dfe1
belize-hole = #2980b9
peter-river = #3498db
sunflower = #f1c40f
orange = #f39c12
carrot = #e67e22
pumpkin = #d35400

heading-font = "Libre Baskerville", Georgia, serif;
mono-font = "Source Code Pro", monospace;
body-font = "Lora", Georgia, serif;
sans-font = "Helvetica", "Verdana", sans-serif;