* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-family: inherit;
  font-weight: normal;
  line-height: 100%;
}

a {
  text-decoration: none;
}